@import '../sass/utils/variable';
@import '../sass/base/normalize';
@import '../sass/base/clean';
@import '../sass/components/body';
@import '../sass/components/nav';
@import '../sass/components/hero';
@import '../sass/components/main-page';
@import '../sass/components/button_style';
@import '../sass/components/backdrop';
@import '../sass/components/modal';
@import '../sass/components/what_doing';
@import '../sass/components/team-card-page';
@import '../sass/components/company_page';
@import '../sass/components/owerlay';
@import '../sass/components/container';
@import '../sass/components/page-header';
@import '../sass/components/adress';
@import '../sass/components/footer';
@import '../sass/components/sub-footer';
@import '../sass/components/portfolio';
@import '../sass/components/form';
@import '../sass/components/checkbox';
@import '../sass/components/menu-btn';
@import '../sass/components/mobile-menu';
