.adress__location {
  font-family: $font-style;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: $color-white;
}
.adress {
  font-style: normal;
  margin-top: 20px;
}
.adress__list {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.adress__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.adress__contact-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02m;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-blue;
  }
}
