.checkbox {
  --webkit-appearance: none;
  --moz-appeance: none;
  appearance: none;
  position: absolute;
}
.checkbox:checked {
  & + .checkbox-icon {
    background-image: url(../images/iconcheck.svg);
  }
}
.checkbox-label {
  white-space: nowrap;
  display: block;

  margin-left: 31px;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox-icon {
  position: absolute;
  left: 52px;
  bottom: 135px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  background-image: url(../images/Vector.svg);
}
.checkbox__description {
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: $main-color;
}
.checkbox-color {
  color: $color-blue;
  display: inline;
  text-decoration: underline;
}

textarea {
  resize: none;
  padding: 12px 16px;
}
