.footer__title {
  font-family: $font-style;

  font-weight: $second-font-weight;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $color-white;
  @media screen and(min-width:1200px) {
  }
  @media screen and(min-width:1200px) {
  }
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-join {
  @media screen and(min-width:1200px) {
    margin-left: 70px;
  }
}
.footer-nav__website {
  font-family: $second-style;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: $color-blue;
  @media screen and(max-width:1199px) {
    font-size: 24px;
    line-height: calc(24 / 28);
  }
  @media screen and(min-width:1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}
.footer-nav__logo {
  font-family: $second-style;
  text-decoration: none;
  font-weight: 700;

  letter-spacing: 0.03em;

  color: $color-white;
  @media screen and(max-width:1199px) {
    font-size: 24px;
    line-height: calc(24 / 28);
  }
  @media screen and(min-width:1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}
.footer__item {
  display: flex;
  margin-top: 20px;
}
.footer__logo {
  width: 20px;
  height: 20px;
  display: block;
  fill: $color-white;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms $transition-timing-func;
  &:hover,
  &:active {
    background-color: $color-blue;
  }
}

.footer__list {
  margin-right: 10px;
  &:nth-child(4) {
    margin-right: 0px;
  }
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    align-items: baseline;
  }
}
