.hero-image {
  @media screen and(min-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bc_fone/header_m.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      -webkit-image-set(url(../images/bc_fone/header_m.webp) 1x);

    @media (min-device-pixel-ratio: 2) and (min-width: 480px),
      (min-resolution: 192dpi) and (min-width: 480px),
      (min-resolution: 2dppx) and (min-width: 480px) {
    }
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bc_fone/header_2xm.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      -webkit-image-set(url(../images/bc_fone/header_2xm.webp) 2x);
    background-color: $main-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and(min-width:768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bc_fone/header_t.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      -webkit-image-set(url(../images/bc_fone/header_t.webp) 1x);
    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bc_fone/Header_2xt.jpg);
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        -webkit-image-set(url(../images/bc_fone/Header_2xt.webp) 2x);
    }
    background-color: $main-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and(min-width:1200px) {
    background-image: url(../images/bc_fone/Header_d.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      -webkit-image-set(url(../images/bc_fone/header_d.webp) 1x);
    @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
      (min-resolution: 192dpi) and (min-width: 1200px),
      (min-resolution: 2dppx) and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bc_fone/header_2xd.jpg);
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        -webkit-image-set(url(../images/bc_fone/header_2xd.webp) 2x);
    }
    background-color: $main-color;
  }
}
