.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero__txt {
  @media screen and(min-width:0px) and(max-width:767px) {
    width: 360px;
    font-size: 26px;
    line-height: calc(42 / 26);
  }
  @media screen and(min-width:768px) {
    width: 360px;
    font-size: 26px;
    line-height: calc(42 / 26);
  }

  @media screen and(min-width:1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  font-weight: 900;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-white;

  max-width: 696px;

  margin: auto;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  display: block;

  letter-spacing: 0.06em;
  background: $color-blue;
  color: $color-white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  transition: background-color 250ms $transition-timing-func,
    box-shadow 250ms $transition-timing-func;

  cursor: pointer;
  &:hover,
  &:focus {
    background: #1c84d8;
  }
}
