.menu-btn {
  display: inline-block;
  width: 44px;
  height: 44px;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  outline: transparent;

  padding: 0;
  &.is-active .menu-btn__icon-open {
    opacity: 0;
  }
  &.is-active .menu-btn__icon-close {
    opacity: 1;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn__icon {
  width: 44px;
  height: 44px;
}
.menu-btn__icon-open {
  &:hover {
    fill: $color-blue;
  }
  &:focus {
    fill: $color-blue;
  }
}
.menu-btn-close {
  display: inline-block;
  width: 44px;
  height: 44px;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  outline: transparent;

  padding: 0;
}
.menu-btn__icon-close {
  &:hover {
    fill: $color-blue;
  }
  &:focus {
    fill: $color-blue;
  }
}
