.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  z-index: 5;
  transform: translateX(100%);
  transition: transform $transition-timing-func;
  visibility: hidden;
  pointer-events: none;
  &.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
  }

  @media screen and (min-width: 480px) {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 480px), (max-width: 767px) {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.mobile-nav__link {
  font-family: $font-style;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(40 / 47);
  letter-spacing: 0.02em;
  color: $second-color;
  &.current {
    color: $color-blue;
  }
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
}
.mobile-menu__social-thumb {
  @media screen and(max-width:767px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.mobile-contacts__thumb {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}
.mobile-contacts__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.mobile-menu__social-item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0px;
  }
}
.mobile-contacts__link {
  font-family: $font-style;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(24 / 28);
  letter-spacing: 0.02em;
  color: $color-blue;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.mobile-contacts__email {
  color: $main-color;
  font-size: 24px;
  line-height: calc(24 / 28);
}
.mobile-menu__social-link {
  font-family: $font-style;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(18 / 22);
  letter-spacing: 0.02em;
  color: $color-blue;
}

.mobile-menu__social-link-before {
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    left: 100%;
    content: '';
    display: inline-block;
    width: 22px;
    border: 1px solid #08070733;
    transform: rotate(90deg);
  }
}
.mobile-nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
