.site-nav {
  @media screen and (min-width: 0px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__wrapper {
  @media screen and (min-width: 0px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.site-nav__contacts {
  margin-left: auto;
}
.site-nav__contact--icon {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.site-nav__list {
  display: flex;
  align-items: center;
}
.site-nav__item {
  position: relative;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}
.site-nav__contact--info {
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(12 / 14);
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(14 / 16);
  }
  display: inline-flex;
  font-weight: 500;

  letter-spacing: 0.02em;
  color: $main-color;

  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active {
    color: $color-blue;
  }
}
.corection {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.site-nav__link.current {
  &::before {
    position: absolute;
    bottom: -4%;
    content: '';

    display: inline-block;
    background-color: #1c84d8;
    color: $color-blue;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}
.site-nav__link {
  &.current {
    color: $color-blue;
  }
}
.site-nav__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: $second-color;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    color: $color-blue;
  }
  &:hover {
    color: $color-blue;
  }
  &:active {
    color: $color-blue;
  }
}
