.owerlay-txt {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: $font-style;
  font-weight: $font-weight;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: $color-white;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $transition-timing-func;
  @media screen and (max-width: 400px) {
    font-size: 16px;
    line-height: 1.4;
    padding: 2px;
    text-align: center;
  }
}
.owerlay-thumb {
  position: relative;
  overflow: hidden;
}
