.main-button__container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main-button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and(max-width:767px) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.main-button__item {
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.main-button__button {
  background-color: #f5f4fa;
  font-family: $font-style;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: 1px solid #eeeeee;
  transition: background-color 250ms $transition-timing-func,
    box-shadow 250ms $transition-timing-func,
    color 250ms $transition-timing-func, border 250ms $transition-timing-func;
  &:focus,
  &:hover {
    color: $color-white;
    background: $color-blue;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: $color-blue;
  }
}
.main-button__current {
  background-color: $color-blue;
  color: $color-white;
}
.portfolio-list {
  background: #ffffff;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  @media screen and(min-width:768px) {
    flex-basis: calc(100% / 2 - 15px);
    margin-left: -15px;
    margin-top: -15px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: -30px;
    margin-top: -30px;
  }
}
.portfolio-list__item {
  transition: box-shadow 250ms $transition-timing-func;
  &:hover,
  &:focus {
    box-shadow: $shadow-item;
  }

  @media screen and(min-width:768px) {
    margin-left: 15px;
    margin-top: 15px;
    flex-basis: calc((100% - 960px) / 2);
  }
  @media screen and(min-width:1200px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-list__card {
  display: block;
  transition: box-shadow 250ms $transition-timing-func;
  &:hover .owerlay-txt {
    transform: translateY(0%);
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 440px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 404px;
  }
}
.description {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.description__info {
  font-weight: $second-font-weight;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  color: $second-color;
}
.description__sentence {
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: $main-color;
}
